{:paths     ["src"]
 :mvn/repos {"github" {:url "https://maven.pkg.github.com/nathell/jmorfeusz"}}
 :deps      {pl.sgjp/jmorfeusz$sgjp    {:mvn/version "0.1.0-SNAPSHOT"}
             clj-concraft/clj-concraft {:git/url "https://github.com/nathell/clj-concraft.git"
                                        :git/sha "dae363bdc73473106f1158ef4bb673926c2c21e6"}}}
